body {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
    overflow-x: hidden !important;
}

@media screen and (max-width: 1440px) {

    body,
    html {
        overflow-x: hidden;
    }

    .nav {
        width: 100%;
        display: flex;
        padding: 25px 0;
        z-index: 10;
        background-color: white;
    }

    .nav img {
        height: 20px;
        position: absolute;
        left: 40px;
        top: 25px;
    }

    .menu {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menu a {
        text-decoration: none;
        color: hsl(228, 34%, 66%);
        font-size: 16px;
        letter-spacing: 1px;
        margin: 0 10px;
    }

    .request-invite {
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        color: white;
        padding: 10px 20px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 16px;
        margin: 0 12px;
        border: none;
        position: absolute;
        right: 40px;
        top: 15px;
    }

    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: left;
        height: 400px;
        width: 45vw;
        margin-left: 100px;
        margin-top: 100px;
    }

    .header-text h1 {
        font-size: 42px;
        color: hsl(228, 12%, 44%);
        margin-bottom: 20px;
        width: 400px;
        line-height: 1.2;
        letter-spacing: 1px;
        font-weight: 400;
    }

    .header-text p {
        color: hsl(233, 8%, 62%);
        font-size: 14px;
        letter-spacing: 1px;
        width: 400px;
        line-height: 2;
        margin-bottom: 35px;
    }

    .request-invite2 {
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        padding: 20px 25px;
        border-radius: 50px;
        border: none;
        width: 200px;
        color: white;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .header {
        display: flex;
        height: 850px;
        width: 100vw;
    }

    .header-image {
        background-image: url("./images/bg-header-desktop.svg");
        height: 770px;
        position: relative;
        left: 0%;
        width: 50%;
        overflow: hidden;
    }

    .header-image img {
        overflow: hidden;
    }

    .main-img,
    .background-image {
        position: absolute;
        top: -160px;
        right: -80px;
        height: 900px;
        overflow-x: hidden !important;
    }

    .main-img {
        z-index: -1;
        top: -100px;
        right: -100px;
        height: 830px;
    }

    .background-image {
        z-index: -10;
        right: -200px;
        top: -190px;
        height: 770px;
    }

    .intro {
        position: relative;
        top: -210px;
        left: 100px;
    }

    .intro h2 {
        font-size: 36px;
        color: hsl(228, 12%, 44%);
        margin-bottom: 20px;
        width: 600px;
        line-height: 1.2;
        letter-spacing: 1px;
        font-weight: 400;

    }

    .intro p {
        width: 650px;
        line-height: 1.5;
        color: hsl(233, 8%, 62%);
        letter-spacing: 1px;
    }

    .feature-cards {
        display: flex;
        justify-content: space-between;
        margin-top: -175px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .feature-card {
        color: hsl(233, 8%, 62%);
        margin: 15px;
        width: 500px;
        height: 275px;
        padding: 5px;
    }

    .feature-card h3 {
        color: black;
    }

    .feature-card p {
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .articles h2 {
        font-size: 34px;
        color: hsl(228, 12%, 44%);
        margin-bottom: 20px;
        width: 600px;
        line-height: 1.2;
        letter-spacing: 1px;
        font-weight: 400;
        margin-left: 100px;
    }

    .article-cards {
        display: flex;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
    }

    .article-card {
        margin: 10px;
        border-radius: 5px;
    }

    .article-card img {
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }

    .article-card h3,
    .article-card p {
        width: 230px;
        margin-left: 25px;
        line-height: 1.2;
    }

    .article-card p {
        color: hsl(233, 8%, 62%);
    }

    .bottom-nav {
        height: 150px;
        position: relative;
        background-color: hsl(233, 26%, 24%);
        color: white;
    }

    .bottom-nav p {
        position: absolute;
        right: 40px;
        bottom: 35px;
        color: hsl(233, 8%, 62%);
        font-size: 12px;
    }

    .bottom-nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        left: 40%;
        top: 35px;
        transform: translateX(-50%);
        bottom: 35px;
    }

    .bottom-nav-links a {
        color: white;
        text-decoration: none;
        margin: 7px 50px;
        font-size: 12px;
    }

    .company-logo,
    .socials {
        position: relative;
        top: 30px;
        left: 100px;
    }

    .company-logo {
        margin-bottom: 40px;
    }

    .socials img {
        margin: 0 5px;
    }

    .request-invite3 {
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        padding: 10px 10px;
        border-radius: 50px;
        border: none;
        width: 150px;
        color: white;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;
        position: absolute;
        right: 40px;
        top: 35px;

    }

    .attribution {
        font-size: 11px;
        text-align: center;
        background-color: hsl(233, 26%, 24%);
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

}

@media screen and (max-width: 375px) {
    .nav {}

    .hamburger {
        display: block !important;
        position: absolute;
        right: 85px;
        top: -5px;
    }

    .hamburger img {
        height: 12px;
    }

    .menu {
        display: none;
    }

    .request-invite {
        display: none;
    }

    .header {
        flex-direction: column-reverse;
        margin-top: -100px;
    }

    .header-text {
        margin: 0;
        text-align: center;
        margin-top: -150px;
    }

    .header-text p,
    .header-text h1 {
        width: 350px;
        text-align: center !important;
        margin-left: 12px;
    }

    .header-image {
        width: 100%;
        height: 500px;
    }

    .main-img {
        height: 450px;
        left: 50%;
        top: -130px;
        transform: translateX(-50%);
    }

    .background-image {
        height: 600px;
        left: -90px;
        top: -255px;
    }

    .request-invite2 {
        position: relative;
        top: -15px;
        left: 105%;
        transform: translateX(-50%);
        border: 1px solid;
    }

    .intro {
        width: 200px;
        top: 0;
        left: 30%;
        transform: translateX(-50%);
    }

    .intro p,
    .intro h2 {
        text-align: center;
        width: 350px;
    }

    .feature-cards {
        flex-direction: column;
        margin-top: 40px;
        margin-left: 20px;
    }

    .feature-card {
        width: 300px;
        margin: 10px;
        text-align: center;
    }

    .article-cards {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
}